<div class="row align-items-center justify-content-around bg-white py-5">
	<div class="col-md-4 col-10 row gap-4 wow animate__fadeIn">
		<h3 class="display-3 brand_primary fw-bold text-dark">{{title}}</h3>
    <p class="primarycolor" >{{subtitle}}</p>
	   <a href="{{link}}">
		<button class="btn btn-primary py-3 px-4 fs-4 w-auto border-0" style="background-color:rgba(0, 33, 71, 1) !important;">{{buttonname}}</button>
		</a>
	</div>
	<div class="col-md-4 col-sm-8 text-center wow animate__fadeIn">
		<img src="{{thumb}}" width="{{width}}" height="{{height}}"/>
	</div>
</div>
