{{ header }}
<style>
	.primarycolor {
		color: rgba(0, 33, 71, 1) !important;
	}
</style>
<ul class="breadcrumb">
	{% for breadcrumb in breadcrumbs %}
		<li>
			<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
		</li>
	{% endfor %}
</ul>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container" style="background-color:white; padding:20px; border-radius:5px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">

  <div class="row">
    <div class="col-md-9" style="padding-right: 70px;">
      <h1>{{faq.title}}</h1>
      <p>{{faq.text}}</p>
    </div>
    <div class="col-md-3" style="padding-left: 30px;">
<h2>

    <i class="fa fa-star" aria-hidden="true" style="font-size:20px;"></i>

  Articles in this section
</h2>
{% for faq in faq_category %}
      <a href="{{ faq.href }}" 
   style="display: block; margin-bottom: 10px; font-size:15px;  color: black;"
   onmouseover="this.style.color='lightgreen'" 
   onmouseout="this.style.color='black'">{{faq.title}}</a>
   	{% endfor %}
    </div>
  </div>
</div>


{{ footer }}
