{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary">
          <i class="fa-solid fa-plus"></i>
        </a>
        <button type="button" data-bs-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" 
          onclick="confirm('{{ text_confirm }}') ? document.getElementById('form-manufacturer').submit() : false;">
          <i class="fa-regular fa-trash-can"></i>
        </button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
      {% if error_warning %}
         <div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-check-circle"></i> {{ error_warning }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
      {% endif %}
      {% if success %}
         <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> {{ success }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
      {% endif %}
    <div class="card">
      <div class="card-header">
        <i class="fa fa-list"></i> {{ text_list }}
      </div>
      <div class="card-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-manufacturer">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 1px;" class="text-center">
                    <input type="checkbox" class="form-check-input" onclick="document.querySelectorAll('input[name*=\'selected\']').forEach(el => el.checked = this.checked);" />
                  </th>
                  <th class="text-center">Image</th>
                  <th class="text-left">Title</th>
                  <th class="text-left">URL</th>
                  <th class="text-center">Status</th>
                  <th class="text-end">{{ column_action }}</th>
                </tr>
              </thead>
              <tbody>
                {% if brokers %}
                {% for broker in brokers %}
                <tr>
                  <td class="text-center">
                    {% if broker.broker_id in selected %}
                    <input type="checkbox" class="form-check-input" name="selected[]" value="{{ broker.broker_id }}" checked />
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="selected[]" value="{{ broker.broker_id }}" />
                    {% endif %}
                  </td>
                  <td class="text-center">
                    {% if broker.image %}
                    <img src="{{ broker.image }}" alt="{{ broker.name }}" class="img-thumbnail" />
                    {% else %}
                    <span class="img-thumbnail list">
                      <i class="fa fa-camera fa-2x"></i>
                    </span>
                    {% endif %}
                  </td>
                  <td class="text-left">{{ broker.title }}</td>
                 <td class="text-left">{{ broker.url }}</td>
                  <td class="text-center">
                    {% if broker.status == 1 %}
                        <span class="badge bg-success">Enabled</span>
                    {% else %}
                        <span class="badge bg-danger">Disabled</span>
                    {% endif %}
                 </td>               
                 <td class="text-end">
                    <a href="{{ broker.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-start">{{ pagination }}</div>
          <div class="col-sm-6 text-end">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
