{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-blog" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ cancel }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-secondary">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<nav aria-label="breadcrumb">
				<h1>{{ heading_title }}</h1>
				<ol class="breadcrumb">
					{% for breadcrumb in breadcrumbs %}
						<li class="breadcrumb-item">
							<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
						</li>
					{% endfor %}
				</ol>
			</nav>
		</div>
	</div>

	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<i class="fa fa-pencil"></i>
				{{ text_form }}
			</div>
			<div class="card-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-blog" class="row">
					<div class="mb-3 row required">
						<label for="input-title" class="col-md-2 col-form-label">{{ entry_title }}</label>
						<div class="col-md-10">
							<input type="text" name="title" id="input-title" value="{{ title }}" placeholder="{{ entry_title }}" class="form-control {% if error_title %}is-invalid{% endif %}"/>
							 {% if error_title %}
								<div id="error-title" class="invalid-feedback d-block">{{ error_title }}</div>
							 {% endif %}
						</div>
					</div>
					<div class="row mb-3 required">
						<label class="col-sm-2 col-form-label">{{entry_keyword}}</label>
						<div class="col-sm-10">
							<div class="form-control" style="height: 150px; overflow: auto;">
								{% set keyword_row = 0 %}
								{% for blog_keyword in blog_keywords %}
									<div class="form-check">
										<input type="checkbox" name="blog_keyword[]" value="{{ blog_keyword.keyword_id }}" id="input-keyword-{{ keyword_row }}" class="form-check-input  {% if error_keyword %}is-invalid{% endif %}" {% if blog_keywords_checked[blog_keyword.keyword_id] %} checked {% endif %}/>
										<label for="input-keyword-{{ keyword_row }}" class="form-check-label">{{ blog_keyword.name }}</label>
									</div>
									{% set keyword_row = keyword_row + 1 %}
								{% endfor %}
							</div>
								{% if error_keyword %}
									<div id="error-eyword" class="invalid-feedback d-block">{{ error_keyword }}</div>
								{% endif %}
							<div class="form-text">{{ help_mail_alert }}</div>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-Content" class="col-sm-2 col-form-label">Content</label>
						<div class="col-sm-10">
							<textarea name="content" placeholder="Content" id="input-Content" data-oc-toggle="ckeditor" data-lang="{{ ckeditor }}" class="form-control">{{content}}</textarea>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-image" class="col-sm-2 col-form-label">{{entry_image}}</label>
						<div class="col-sm-10">
							<div class="card image">
								<img src="{{ thumb }}" alt="" title="" id="thumb-image" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>
								<input type="hidden" name="image" value="{{ image }}" id="input-image"/>
								<div class="card-body">
									<button type="button" data-oc-toggle="image" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-primary btn-sm btn-block">
										<i class="fa-solid fa-pencil"></i>
										{{ button_edit }}</button>
									<button type="button" data-oc-toggle="clear" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-warning btn-sm btn-block">
										<i class="fa-regular fa-trash-can"></i>
										{{ button_clear }}</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_status}}</label>
						<div class="col-sm-10">
							<div class="form-check form-switch form-switch-lg">
								<input type="hidden" name="status" value="0"/>
								<input type="checkbox" name="status" value="1" id="input-status" class="form-check-input" {% if status %} checked {% endif %}/>
							</div>
							<div class="form-text">{{ help_status}}</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<style>
	.cke_notification_warning {
		display: none;
	}
</style>
<script src="view/javascript/ckeditor/ckeditor.js"></script>
<script src="view/javascript/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
	// keyword
$('#input-keyword').autocomplete({
'source': function (request, response) {
$.ajax({
url: 'index.php?route=blog/keyword/autocomplete&user_token=  {{ user_token }}&filter_name=' + encodeURIComponent(request),
dataType: 'json',
success: function (json) {
response($.map(json, function (item) {
return {label: item['name'], value: item['keyword_id']}
}));
}
});
},
'select': function (item) {
$('#input-keyword').val('');

$('#blog-keyword-' + item['value']).remove();

html = '<tr id="blog-keyword-' + item['value'] + '">';
html += '  <td>' + item['label'] + '<input type="hidden" name="blog_keyword[]" value="' + item['value'] + '"/></td>';
html += '  <td class="text-end"><button type="button" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
html += '</tr>';

$('#blog-keyword tbody').append(html);
}
});

$('#blog-keyword').on('click', '.btn', function () {
$(this).parent().parent().remove();
});
</script>
<script type="text/javascript">
	$('textarea[data-oc-toggle=\'ckeditor\']').ckeditor({language: '{{ ckeditor }}'});

$('#button-filter').on('click', function () {
var url = '';
var filter_name = $('input[name=\'filter_name\']').val();

if (filter_name) {
url += '&filter_name=' + encodeURIComponent(filter_name);
}

location = 'index.php?route=catalog/blog&user_token=  {{ user_token }}' + url;
});

$('button[form=\'form-blog\']').on('click', function (e) {
$('#form-blog').attr('action', $(this).attr('formaction'));
});

$('#input-parent').autocomplete({
'source': function (request, response) {
$.ajax({
url: 'index.php?route=catalog/blog/autocomplete&user_token=  {{ user_token }}&filter_title=' + encodeURIComponent(request),
dataType: 'json',
success: function (json) {
json.unshift({'title': '{{ text_none }}', 'blog_id': '0'});

response($.map(json, function (item) {
return {value: item['blog_id'], label: item['title']}
}));
}
});
},
'select': function (item) {
$('#input-parent').val(item['label']);
$('#input-parent-id').val(item['value']);
}
});
</script>

{{ footer }}
